.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  height: 10vmin;
}

.App-link {
  color: #09d3ac;
}

#graph {
  width: 99vmin;
  margin: 5vmin auto;
  min-height: calc(70vh - 8vmin);
}

svg {
  overflow: visible;
}

.axis {
  font: 14px sans-serif;
}
  
.line {
  fill: none;
  stroke: orange;
  stroke-width: 2px;
}

.wbc {
  stroke: rgb(94, 94, 94);
}

#mouse-tracker {
  stroke: #E6E7E8;
  stroke-width: 1px;
}

.tooltip {
    position: absolute;
    width: auto;
    height: 13em;
    padding: 1em;
    font: 12px sans-serif;
    text-align: center;
    color: #222;
    background: rgb(194, 194, 194);
    border: 0;
    border-radius: 10px;
  }

  .zoom {
    cursor: move;
    fill: none;
  }

  .handle {
    fill: rgb(49, 49, 49);
  }